.margin-bottom-32 {
  margin-bottom: 32px !important;
}

.weight-number-input {
  font-size: 55px !important;
}

.workmax-number-input {
  font-size: 35px !important;
}

.year-number-input {
  font-size: 32px !important;
  text-align: center;
}

.modal-header {
  font-size: 28px !important;
  text-align: center !important;
}

.modal-subheader {
  font-size: 20px !important;
  text-align: center !important;
}

.edit-modal {
  margin-top: 5vh;
}
