.card_header_padding {
  padding-top: 4px !important;
}

.card_title {
  font-size: 20px !important;
  text-align: left !important;
}

.card_chip {
  font-size: 10px !important;
  text-align: center !important;
  margin-left: 0px !important;
}

/* Heatmap */
.heatmap-cell {
  width: 12px;
  height: 12px;
  margin: 3px;
  border-radius: 3px;
  background-color: #3880ff;
}

.heatmap-legend-cell {
  text-align: center;
  width: 12px;
  height: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: #3880ff;
}

.heatmap-legend-text {
  margin-top: 20px;
}

.heatmap-year {
  font-size: 35px !important;
}

/* Loading component */
.spinner {
  text-align: center;
  position: fixed;
  left: 47%;
  top: 45%;
}
